{% extends 'customer_dashboard.html' %}
{% block search_customer %}
<div class="container border border-primary m-5 rounded">
    <div class="justify-content-center">
        <p class="h4 text-info text-center m-2">
            Book Service
        </p>
    </div>
    <div class="row m-2">
        <form action="{{ url_for('book_service',user = customer.name)}}" method="post">
            <div class="mb-3">
                <label for="sid" class="form-label">Service ID:</label>
                <input  type="hidden" class="form-control" name="sid" id="sid" value='{{ service_id }}'> {{ service_id }}
            </div>
            <div class="mb-3">
                <label for="pid" class="form-label">Professional ID:</label>
                <input  type="hidden" class="form-control" name="pid" id="pid" value='{{ professional_id }}' > {{ professional_id }}
            </div>
            <div class="mb-3">
                <label for="custid" class="form-label">Customer ID :</label>
                <input  type="hidden" class="form-control" name="custid" id="custid" value='{{ customer_id }}'> {{ customer_id }}
            </div>
            <div class="mb-3">
                <label for="rdate" class="form-label">Request Date :</label>
                <input type="datetime-local" class="form-control" name="rdate" id="rdate"  >
            </div>
            <div class="mb-3">
                <label for="cdate" class="form-label">Completion Date :</label>
                <input type="datetime-local" class="form-control" name="cdate" id="cdate" required >
            </div>
            <div class="mb-3">
                <label for="remark" class="form-label">Remark :</label>
                <textarea class="form-control" id="remark" name="remark"  rows="3" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Request</button>
            <a href="{{ url_for("customerDashboard", user=customer.name) }}" class="btn btn-outline-primary"> Cancel</a>
        </form>
    </div>
</div>
    
{% endblock search_customer %}