{% extends 'customer_dashboard.html' %}
<!-- import customer for customer name in customer dashboard -->
{% block search_customer %}
<div class="container-fluid py-3 bg-warning" id="search">
    <div class="row">
      <form
        method="post"
        action="{{ url_for('customer_search',user = customer.name) }}"
        class="d-flex"
        role="search"
      >
        <div class="col">
          <label for="searchtype" id="search-type" class="fw-bold h4"
            >search by:</label
          >
          <select
            id="searchtype"
            name="search_by"
            class="border border-primary rounded ms-3 p-2 h5"
          >
          <option value="service">Service Name</option>
            <option value="pincode">Pin Code </option>
            <option value="location">Location</option>
          </select>
        </div>
        <div class="col">
          <div class="d-flex">
            <input
              name="searched"
              id="search-input"
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">Search</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- search results -->
  <div class="container border border-2 rounded border-dark p-3 m-3">
    <div class="conatiner">
        <h4 class="text-center">{{ search_query }}</h4>
    </div>
    {% if professionals %}
      
    
        
    <div class="container-fluid">

        <div class="row d-flex justify-content-center">
          {% for prof in professionals %}
            <div class="col-3">
                <div class="card border border-2 border-dark m-3">
                    <div class="card-header text-center">
                        {{ prof.professional.service_type }}
                    </div>
                    <div class="card-body text-center">
                        <table class="table border border-primary">
                            <tr>
                                <th>Professional Name:</th>
                                <td>{{ prof.professional.name }}</td>
                            </tr>
                            <tr>
                                <th> Location:</th>
                                <td>{{ prof.professional.address }} {{ prof.professional.pincode }}</td>
                            </tr>
                            <tr>
                                <th>Price:</th>
                                <td>Rs.  {{ prof.service.price }}</td>
                            </tr>
                            <tr>
                                <th>Time Required:</th>
                                <td>{{ prof.service.time_required }}</td>
                            </tr>
                            <tr>
                                <th>Description:</th>
                                <td>{{ prof.service.description }}</td>
                            </tr>
                            <tr>
                                <th>Rating:</th>
                                <td>{{ prof.average_rating }}</td>
                            </tr>
                            <tr>
                                <td><a href="{{ url_for('book_service', user = customer.name,service_id=prof.service.id,professional_id=prof.professional.id,customer_id=customer.id) }}" class="btn btn-warning">Book</a></th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% else %}
      <div class="conatiner text-center">No Service Found</div>
    {% endif %}
</div>   
    
{% endblock search_customer %}