{% extends 'customer_dashboard.html' %}

{% block particular_service %}
    <div class="container border border-2 rounded border-dark p-3 m-3">
        <div class="conatiner">
            <h4 class="text-center">{{ service_type }}</h4>
        </div>
        {% for service in services %}
            
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 col-xl-3">
                    <div class="card border border-2 border-dark p-3 m-3">
                        <div class="card-header text-center">
                            {{ service.name }}
                        </div>
                        <div class="card-body text-center">
                            <table class="table border border-primary">
                                <tr>
                                    <th>Service ID:</th>
                                    <td>{{ ser.id }}</td>
                                </tr>
                                <tr>
                                    <th> Name:</th>
                                    <td>{{ ser.name }}</td>
                                </tr>
                                <tr>
                                    <th>Price:</th>
                                    <td>Rs.  {{ ser.price }}</td>
                                </tr>
                                <tr>
                                    <th>Time Required:</th>
                                    <td>{{ ser.time_required }}</td>
                                </tr>
                                <tr>
                                    <th>Description:</th>
                                    <td>{{ ser.description }}</td>
                                </tr>
                                <tr>
                                    <th>Rating:</th>
                                    <td>{{ ser.review.rating }}</td>
                                </tr>
                                <tr>
                                    <td><a href="" class="btn btn-warning">Book</a></th>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>   
    

{% endblock particular_service %}