{% extends 'admin_dashboard.html' %}
{% block content %}

<div class="container-fluid py-3 bg-warning" id="search">
  <div class="row">
    <form
      method="post"
      action="{{ url_for('search') }}"
      class="d-flex"
      role="search"
    >
      <div class="col">
        <label for="searchtype" id="search-type" class="fw-bold h4"
          >search by:</label
        >
        <select
          id="searchtype"
          name="search_by"
          class="border border-primary rounded ms-3 p-2 h5"
        >
        <option value="service">Service</option>
          <option value="service-request">Service request</option>
          <option value="customers">Customers</option>
          <option value="professionals">Professionals</option>
        </select>
      </div>
      <div class="col">
        <div class="d-flex">
          <input
            name="searched"
            id="search-input"
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="conatiner">
  {% if search_query %}
  <p class="m-3 h5">
    search for: {{ search_query | default('all') }}
  </p>
  {% endif %}
  <!-- conatiner for different searches -->

  <div id="search-results" class="m-3 container">
    
    <section id="main-data" class="container-fluid" >
      {% if search_by == 'service' %}
      <div class="mt-3 mb-2 bg-warning p-1 border rounded">
          <h4 class="fw-bold">Services:</h4>
      </div>
      <div class="container">
          
          <div class="accordion" id="Services">
              <div class="accordion-item border border-primary">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#service-collapse" aria-expanded="true" aria-controls="service-collapse">
                    <div class="container row">
                      <h4 class="col">ID</h4>
                      <h4 class="col">Service name</h4>
                      <h4 class="col">Base price</h4>
                      <h4 class="col">Action</h4>
                    </div>
                  </button>
                </h2>
                <div id="service-collapse" class="accordion-collapse collapse show" data-bs-parent="#Services">
                  <div class="accordion-body">
                      {% if services | length == 0 %}
                      <div class="col">
                          <p class="lead">No Service found</p>
                      </div>
                          
                      {% else %}
                          {% for service in services %}
                              <div class="conatiner row border border-primary p-1 lead rounded mb-1">
                                  <div class="col">
                                      <a href="{{ url_for('show_detail_admin',id=service.id,item = 'service') }}" class="fw-bold btn btn-outline-info">{{service.id}}</a>
                                  </div>
                                  <div class="col">
                                      <p >{{ service.name }}</p>
                                  </div>
                                  <div class="col">
                                      <p > {{ service.price }}</p>
                                  </div>
                                  <div class="col">
                                      <a href="{{ url_for('del_mod_service',task='modify',id=service.id) }}" class="btn btn-outline-secondary">Modify</a>
                                      <a href="{{ url_for('del_mod_service',task='delete',id=service.id) }}" class="btn btn-outline-danger">Delete</a>
                                  </div>
                              </div>
                          {% endfor %}
                      {% endif %}    
                  </div>
                </div>
              </div>
            </div>
            
      </div>
      
      {% elif search_by == 'service-request' %}
      <!-- service request -->
      <div class="mt-3 mb-2 bg-warning p-1 border rounded">
          <h4 class="fw-bold">Service Request:</h2>
      </div>
      <div class="container">
          
          <div class="accordion" id="Service-request">
              <div class="accordion-item border border-primary">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#service-request-collapse" aria-expanded="true" aria-controls="service-request-collapse">
                    <div class="container row">
                      <h4 class="col">ID</h4>
                      <h4 class="col">Professional</h4>
                      <h4 class="col">Request Date</h4>
                      <h4 class="col">Status(R/A/C)</h4>
                    </div>
                  </button>
                </h2>
                <div id="service-request-collapse" class="accordion-collapse collapse show" data-bs-parent="#Service-request">
                  <div class="accordion-body">
                      {% if service_requests | length == 0 %}
                          <div class="col">
                              <p class="lead">No Service Request found</p>
                          </div>
                          
                      {% else %}
                          {% for ser_req in service_requests %}
                              <div class="conatiner row border border-primary p-1 lead rounded mb-1">
                                  <div class="col">
                                      <a href="{{ url_for('show_detail_admin',item = 'service_request',id = ser_req.id) }}" class=" fw-bold btn btn-outline-info">{{ ser_req.id }}</a>
                                  </div>
                                  <div class="col">
                                      <p >{{ ser_req.professional_id }}</p>
                                  </div>
                                  <div class="col">
                                      <p >{{ ser_req.date_of_request }}</p>
                                  </div>
                                  <div class="col">
                                      <p >{{ ser_req.service_status }}</p>
                                      
                                  </div>
                              </div>
                          {% endfor %} 
                      {% endif %}       
                  </div>
                </div>
              </div>
            </div>
      </div>

      {% elif search_by == 'professionals' %}
      <!-- professionals -->
      <div class="mt-3 mb-2 bg-warning p-1 border rounded">
          <h4 class="fw-bold">Professionals:</h2>
      </div>
      <div class="container">
          
          <div class="accordion mb-4" id="Professional">
              <div class="accordion-item border border-primary">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#professionalOne" aria-expanded="true" aria-controls="professionalOne">
                    <div class="container row">
                      <h4 class="col">ID</h4>
                      <h4 class="col">Name</h4>
                      <h4 class="col">Experience(yrs)</h4>
                      <h4 class="col">Service</h4>
                      <h4 class="col">Action</h4>
                    </div>
                  </button>
                </h2>
                <div id="professionalOne" class="accordion-collapse collapse show" data-bs-parent="#Professional">
                  <div class="accordion-body">
                      {% if professionals | length == 0 %}
                      <div class="col">
                          <p class="lead">No professional found</p>
                      </div>
                          
                      {% else %}

                          {% for prof in professionals %}
                          <div class="conatiner row border border-primary p-1 lead rounded mb-1">
                              <div class="col">
                                  <a href="{{ url_for('show_detail_admin',id=prof.id,item = 'professional') }}" class=" fw-bold btn btn-outline-info">{{prof.id}}</a>
                              </div>
                              <div class="col">
                                  <p >{{ prof.name }}</p>
                              </div>
                              <div class="col">
                                  <p >{{ prof.experience }}</p>
                              </div>
                              <div class="col">
                                  <p >{{ prof.service_type }}</p>
                              </div>
                              {% if prof.is_approved == 'Approved' %}
                              <div class="col">
                                  <a href="#" class="btn btn-outline-danger">Block</a>
                                  <a href="#" class="btn btn-outline-warning">Unblock</a>
                              </div>
                              {% endif %}
                              <div class="col">
                                  <a href="#" class="btn btn-outline-warning">Approved</a>
                                  <a href="#" class="btn btn-outline-danger">Unapproved</a>
                          </div>
                          </div>
                          {% endfor %}
                      {% endif %}    
                  </div>
                </div>
              </div>
            </div>
      </div>
      {% elif search_by == 'customers' %}
      <!-- customer -->
      <div class="mt-3 mb-2 bg-warning p-1 border rounded">
          <h4 class="fw-bold">Customer:</h4>
      </div>
      <div class="container mb-4">
          
          <div class="accordion" id="Customers">
              <div class="accordion-item border border-primary">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#customer-collapse" aria-expanded="true" aria-controls="customer">
                    <div class="container row">
                      <h4 class="col">ID</h4>
                      <h4 class="col">Customer name</h4>
                      <h4 class="col">Pincode</h4>
                      <h4 class="col">Action</h4>
                    </div>
                  </button>
                </h2>
                <div id="customer-collapse" class="accordion-collapse collapse show" data-bs-parent="#Customer">
                  <div class="accordion-body">
                      {% if customers | length == 0 %}
                      <div class="col">
                          <p class="lead">No Customer found</p>
                      </div>
                          
                      {% else %}

                          {% for customer in customers %}
                              <div class="conatiner row border border-primary p-1 lead rounded mb-1">
                                  <div class="col">
                                      <a href="{{ url_for('show_detail_admin',id=customer.id,item = 'customer') }}" class="fw-bold btn btn-outline-info">{{ customer.id }}</a>
                                  </div>
                                  <div class="col">
                                      <p>{{ customer.name }}</p>
                                  </div>
                                  <div class="col">
                                      <p >{{ customer.pincode}}</p>
                                  </div>
                                  <div class="col">
                                      <a href="#" class="btn btn-outline-primary">Block</a>
                                      <a href="#" class="btn btn-outline-primary">Unblock</a>
                                  </div>
                              </div>
                          {% endfor %} 
                      {% endif %}   
                  </div>
                </div>
              </div>
            </div>
      </div>
      {% endif %} 
  </section>
{% endblock content %}
